@model IEnumerable<ProjetoMercado.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedor</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CnpjFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CnpjFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFornecedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FornecedorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FornecedorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FornecedorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
