@model IEnumerable<ProjetoMercado.Models.VendasHasProduto>

@{
    ViewData["Title"] = "Index";
}

<h1>Venda Has Produto</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeVendaHas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venda.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeVendaHas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendasHasProdutoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VendasHasProdutoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.VendasHasProdutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
