@model IEnumerable<ProjetoMercado.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Venda</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Pagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Vendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Pagamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VendaId">Detalhes</a> |
                    <a asp-action="ImpressaoMercado" asp-route-id="@item.VendaId">Impressão</a> |
                <a asp-action="Delete" asp-route-id="@item.VendaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
